<div >
<h1>Advising Center</h1>
<% @user = User.find_by_id(session[:user_id]) %>

<h2 style="color: white">Welcome <%= @user.name%>!</h2>

</p>
<%if (@user.flag == 'false')%>
<p>
<%= button_to 'Submit Schedule', courses_path(@user.id),:class => 'btn btn-outline-inverse btn-block', method: :get %>
</p>
<%elsif (@user.flag == 'denied')%>
<p>
<%= button_to 'Resubmit Schedule', courses_path(@user.id),:class => 'btn btn-outline-inverse btn-block', method: :get %>
</p>
<%elsif (@user.flag == 'approved')%>
<p>
<%= button_to 'View Approved Schedule', @user,:class => 'btn btn-outline-inverse btn-block', method: :get %>
</p>
<%elsif (@user.flag == 'submitted')%>
<p>
<%= button_to 'View Submitted Schedule', @user,:class => 'btn btn-outline-inverse btn-block', method: :get %>
</p>
<%end%>
<p>
<% @currentuser = User.find_by_id(session[:user_id]) %>
<%if @user.message == 'unread'%>

<%= link_to 'View unread messages',  '#', 'data-target' => "#newmsgModal_#{@user.id}", 'data-toggle' => 'modal',:class => "btn btn-outline-inverse btn-block" %>
<%= render 'new_msg_modal', user: @user %>
<%else%>
<%= link_to 'View/Send messages',  '#', 'data-target' => "#newmsgModal_#{@user.id}", 'data-toggle' => 'modal',:class => "btn btn-outline-inverse btn-block" %>
<%= render 'new_msg_modal', user: @user %>
<%end%>
</p>
<p>
<%= button_to 'Make/View appointment', appointments_path(user: @user),:class => "btn btn-outline-inverse btn-block", method: :get %>
</p>
<p>
<% @user = User.find_by_id(session[:user_id]) %>
<%= button_to 'Course Catalog', courselists_path,:class => "btn btn-outline-inverse btn-block", method: :get %>
<%= link_to 'Test course catalog modal',  '#', 'data-target' => "#courselistModal_#{@user.id}", 'data-toggle' => 'modal',:class => "btn btn-outline-inverse btn-block" %>
<%= render 'courselist_modal', user: @user %>
</p>
<p>
<%= button_to 'Logout', logout_path, :class => 'btn btn-outline-inverse btn-block', method: :delete %>
</p>
</div>