<%@currentuser = User.find_by_id(session[:user_id])%>
<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  	<%if(@currentuser.classification == 'Student')%>
  	<%=  f.hidden_field :stuID, :value => "#{@currentuser.id}" %>
  	<%= f.hidden_field :advID, :value => "#{User.find_by_name(@currentuser.advisor).id}" %>
  	<%else%>
  	
    <%= f.label :stuId %><br>
    <%= f.text_field :stuID %>
  	<%= f.hidden_field :advID, :value => "#{@currentuser.id}" %>
  	<%end%>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
