<%@currentuser = User.find_by_id(session[:user_id])%>
<h1><%=@currentuser.name%>'s Messages</h1>
<table>


  <tbody>
  	<%if(@currentuser.classification == 'Student')%>
    <% @messages.each do |message| %>
      <%if(message.stuID == @currentuser.id)%>
      <tr>
        <td><%= "To: #{@currentuser.advisor}  "%></td>
      </tr>
      <tr>
        <td><%= message.content %></td>
      </tr>
      <%elsif(message.advID == "#{User.find_by_name(@currentuser.advisor).id}")%>
      <tr>
      	
        <td><%= "From: #{@currentuser.name}  "%></td>
      </tr>
      <tr>
        <td><%= message.content %></td>
      </tr>
    <% end %>
    <% end %>
    <%else%>

    <% @messages.each do |message| %>
      <%if(message.advID == @currentuser.id)%>
      <tr>
        <td><%= "To: #{@currentuser.advisor}  "%></td>
      </tr>
      <tr>
        <td><%= message.content %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Message', new_message_path, :class => "btn btn-outline-inverse btn-block" %>
<%= link_to 'Back', student_path %>