<h1>Advising Center</h1>

<h2 style="color: white">Welcome <%= @currentuser.name%>!</h2>

<p>
	<%= button_to "Manage Users", users_path(), :class => "btn btn-outline-inverse btn-block", method: :get %>
</p>
<p>
	<%= button_to "Manage Courses", courselists_path(), :class => "btn btn-outline-inverse btn-block", method: :get %>
</p>
<p>
	<%= button_to 'Register Students', admin_path, :class => "btn btn-outline-inverse btn-block", method: :post %>
</p>
<p>
	<%= button_to 'Logout', logout_path, :class => "btn btn-outline-inverse btn-block", method: :delete %>
</p>



