<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>
<% @currentuser = User.find_by_id(session[:user_id]) 
	@temp = session[:last_path]

%>







		<%if(!(session[:current_path] =~ /value/))%>
			<% if @currentuser.classification == 'Advisor'%>
			<h1>View Registration Packages</h1>
			<table>

			<tbody>
			<th>Students with Submissions </th>
			<td>
			<% @users.each do |user| %>
			
			<% if (user.advisor == @currentuser.name && user.flag == 'true') %>
			<tr>
				<td><%= user.name %></td>
				<td><%= link_to 'APPROVE', liftFlag_path(user, :id => user.id), method: :get%></td>
				<td><%= link_to 'DENY', denyFlag_path(user, :id => user.id), method: :get, data: { confirm: 'Are you sure?' }%></td>
				<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<tbody>
			<th>Unadvised Students</th>
			<td>
			<% @users.each do |user| %>
			
			<% if (user.advisor == @currentuser.name && user.flag == 'false') %>
			<tr>
				<td><%= user.name %></td>
				
				<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<th>Denied Students</th>
			<td>
			<% @users.each do |user| %>
			<% if (user.advisor == @currentuser.name && user.flag == 'denied') %>
			<tr>
				<td><%= user.name %></td>
				<td><%= link_to 'APPROVE', liftFlag_path(user, :id => user.id), method: :get%></td>
				<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<tbody>
			<th>Advised Students</th>
			<td>
			<% @users.each do |user| %>
			<% if (user.advisor == @currentuser.name && user.flag == 'advised') %>
			<tr>
				<td><%= user.name %></td>
				<td><%= link_to 'DENY', denyFlag_path(user, :id => user.id), method: :get%></td>
				<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<% end %>
			<a href="#modal-form" class="btn btn-outline-inverse btn-block"data-toggle="modal">New User</a>
			<%= render :partial => 'user_modal' %>
		<%else%>
			<h1>Messages for <%=@currentuser.name%></h1>
			<table>

			<tbody>
			<th>New Messages</th>
			<td>
			<% @users.each do |user| %>
			
			<% if (user.advisor == @currentuser.name && user.message == 'unread') %>
			<tr>
				<td><%= user.name %></td>
				<td><%= link_to 'View new message', messagee_path(user.id,:to => user.id, :from => @currentuser.id,:action => 'index'),:class => 'btn btn-default btn-md btn-block' %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<tbody>
			<th>Important Messges</th>
			<td>
			<% @users.each do |user| %>
			
			<% if (user.advisor == @currentuser.name && user.message == 'important') %>
			<tr>
				<td><%= user.name %></td>
				
				<td><%= link_to 'View read message', messagee_path(user.id,:to => user.id, :from => @currentuser.id, :action => 'index'),:class => 'btn btn-default btn-md btn-block' %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<th>Read Messages</th>
			<td>
			<% @users.each do |user| %>
			<% if (user.advisor == @currentuser.name && user.message == 'read') %>
			<tr>
				<td><%= user.name %></td>
				<td><%= link_to 'View', messagee_path(user.id,:to => user.id, :from => @currentuser.id,:action => 'index'),:class => 'btn btn-default btn-md btn-block' %></td>
			</tr>
			<% end %>
			<% end %>
			</td>
			</tbody>
			<tbody>
			
			<% end %>
		
		<% if @currentuser.classification == "Admin"%>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= link_to 'Show', user %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>



<br>

<% if (@currentuser.classification == "Admin") %>
<div class="btn btn-outline-inverse btn-block">
<%= link_to 'Back', admin_path() %>
</div>
<% else %>
<div class="btn btn-outline-inverse btn-block">
<%= link_to 'Back', advisor_path()  %>
</div>
<% end%>

