<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>
<% @currentuser = User.find_by_id(session[:user_id]) %>

<h1>Welcome <%= @currentuser.name%></h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		
		<% if @currentuser.classification == 'Advisor'%>
		<th>Students with Submissions</th>
		<td>
		<% @users.each do |user| %>
		
		<% if (user.advisor == @currentuser.name && user.flag == 'true') %>
		<tr>
			<td><%= user.name %></td>
			<td><%= link_to 'APPROVE', liftFlag_path(user, :id => user.id), method: :get%></td>
			<td><%= link_to 'DENY', denyFlag_path(user, :id => user.id), method: :get%></td>
			<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		<% end %>
		</td>
		</tbody>
		<tbody>
		<th>Unadvised Students</th>
		<td>
		<% @users.each do |user| %>
		
		<% if (user.advisor == @currentuser.name && user.flag == 'false') %>
		<tr>
			<td><%= user.name %></td>
			
			<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		<% end %>
		</td>
		</tbody>
		<th>Denied Students</th>
		<td>
		<% @users.each do |user| %>
		<% if (user.advisor == @currentuser.name && user.flag == 'denied') %>
		<tr>
			<td><%= user.name %></td>
			<td><%= link_to 'APPROVE', liftFlag_path(user, :id => user.id), method: :get%></td>
			<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		<% end %>
		</td>
		</tbody>
		<tbody>
		<th>Advised Students</th>
		<td>
		<% @users.each do |user| %>
		<% if (user.advisor == @currentuser.name && user.flag == 'advised') %>
		<tr>
			<td><%= user.name %></td>
			<td><%= link_to 'DENY', denyFlag_path(user, :id => user.id), method: :get%></td>
			<td><%= link_to 'Show', user,:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Edit', edit_user_path(user),:class => 'btn btn-default btn-md btn-block' %></td>
			<td><%= link_to 'Destroy', user,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		<% end %>
		</td>
		</tbody>
		<% end %>
		
		<% if @currentuser.classification == "Admin"%>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= link_to 'Show', user %></td>
			<td><%= link_to 'Edit', edit_user_path(user) %></td>
			<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>
<% if (@currentuser.classification == "Admin") %>
<%= link_to 'Back', admin_path() %>
<% else %>
<%= link_to 'Back', advisor_path()  %>
<% end%>






