<p id="notice">
	<%= notice %>
</p>
<% @courses = Course.all %>

<% @currentuser =  User.find_by_id(session[:user_id]) %>

<% if @user.classification == 'Student' %>
<h1>Courses for: <%= @user.name%></h1>

<table>
	<th>Name</th>
	<th>Hours</th>
	<th>Prereq</th>
	<% @courses.each do |course| %>
	<%if course.studentid == @user.id %>
	<tr>
		<td><%= course.name %></td>
		<td><%= course.hours %></td>
		<td><%= course.prereq %></td>
		<td><%= link_to 'Show', course,:class => 'btn btn-default btn-md btn-block' %></td>
		<td><%= link_to 'Edit', edit_course_path(course),:class => 'btn btn-default btn-md btn-block' %></td>
		<td><%= link_to 'Destroy', course,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<%end%>
	<%end%>
</table>
<br>
COURSES REQUESTED:
<table>

	<% @courses.each do |course| %>
	<%if course.choice == @user.id %>
	<tr>
		<td><%= course.name %></td>
		<td><%= course.hours %></td>
		<td><%= course.prereq %></td>
		<td><%= link_to 'Show', course,:class => 'btn btn-default btn-md btn-block' %></td>
		<td><%= link_to 'Edit', edit_course_path(course),:class => 'btn btn-default btn-md btn-block' %></td>
		<td><%= link_to 'Destroy', course,:class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<%end%>

	<%end%>
</table>
<%end%>

<% if @user.classification == 'Advisor' %>
<h1>Student List</h1>

<div style="border:solid; border-color: white; scroll; height:57%; overflow-x:hidden;background: rgba(255,255,255,0.1);">
	<table  class="table table-bordered">

		<thead style="height:50px">
			<tr>
				<th>Unsername</th>
				<th>Approval</th>

				<th>Denial</th>
				<th>Show</th>
				<th>Edit</th>
				<th>Destroy</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<% if (user.advisor == @user.name) %>
			<tr>
				<td><%= user.name %></td>
				<td><%= button_to 'Approve', denyFlag_path(@user, :id => @user.id),:class => 'btn btn-default btn-md btn-block', method: :get%></td>
				<td><%= button_to 'Deny', denyFlag_path(@user, :id => @user.id),:class => 'btn btn-default btn-md btn-block', method: :get%></td>
				<td><%= button_to 'Show', user, :class => 'btn btn-default btn-md btn-block', method: :get %></td>
				<td><%= button_to 'Edit', edit_user_path(user), :class => 'btn btn-default btn-md btn-block' %></td>
				<td><%= button_to 'Destroy', user, :class => 'btn btn-default btn-md btn-block', method: :delete, data: { confirm: 'Are you sure?' } %></td>
				
			</tr>

			<% end %>

			<% end %>
		</tbody>
	</table>
</div>
<%end%>

