<div class="form-horizontal">

	<%= form_tag(:class=>"form-horizontal", :role=>"form") do %>
	<div class="form-group">
		<div class="col-sm-12">
			<%= text_field_tag :name, params[:name],:class=>"form-control",:placeholder=>"Course Name" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= password_field_tag :hours, params[:hours], :class=>"form-control",:placeholder=>"Course Hourse" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			<%= password_field_tag :prereq, params[:prereq], :class=>"form-control",:placeholder=>"Course Prerequisites" %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<%= submit_tag "Submit",:class=>"btn btn-default" %>
		</div>
	</div>
	<% end %>
</div>