


<%= render 'bootstrap_dual_list'%>
<br>

	<br>
	<div>
		<%= label_tag "Appoitment"%>
		<br>
		<%= text_field_tag "Appoitment"%>
	</div>
<br>
	<div>
		<%= label_tag "Message"%>
		<br>
		<%= text_area_tag "Message"%>
	</div>
