<% @currentuser = User.find_by_id(session[:user_id]) %>

<h1>Listing courses for <%= @currentuser.name %> </h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Hours</th>
			<th>Prereq</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% if @currentuser.classification == "Student" %>

		<% @courses.each do |course| %>
			<%if course.studentid == @currentuser.id %>
			<tr>
				<td><%= course.name %></td>
				<td><%= course.hours %></td>
				<td><%= course.prereq %></td>
				<td><%= link_to 'Show', course %></td>
				<td><%= link_to 'Edit(Delete this using IF for student TO DO)', edit_course_path(course) %></td> 
				<td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<%end%>
			<% end %>
		<%else%>
		<% @courses.each do |course| %>
		<tr>
			<td><%= course.name %></td>
			<td><%= course.hours %></td>
			<td><%= course.prereq %></td>
			<td><%= link_to 'Show', course %></td>
			<td><%= link_to 'Edit(Delete this using IF for student TO DO)', edit_course_path(course) %></td> 
			<td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<%end%>
		<%end%>
	</tbody>
</table>
<br>
<table>
	<tr>
		<td>
			<select name="Courses" multiple="multiple" style="width:100px;height:300px">
				<option></option>
			</select>
		</td>
		<td>
			<button name="addbtn" style="width:120px;height:40px">Add</button>
			</br>
			</br>
			</br>
			<button name="removebtn" style="width:120px;height:40px">Remove</button>
		</td>
		<td>
			<select name="Choices" multiple="multiple" style="width:100px;height:300px">
				<% @courselist = Courselist.all %>
				<% @courselist.each do |list| %>
				<% @match = 0 %>
					<% @courses.each do |course| %>
						<% if course.name == list.name%>
						<% @match = 1 %>
						<% end %>
					<% end %>
					<% if @match == 0 %>
						<option><%= list.name %></option>
					<% end %>
				<% end %>
			</select>
		</td>
	</tr>
	<tr>
		<td>
			<input name="Appointment" type="text" />
		</td>
	</tr>
</table>
<br>

<%= link_to 'New Course', new_course_path %>
<%case @currentuser.classification%>
<%      when "Admin"%>
<%= link_to 'Back', admin_path() %>
<%      when "Advisor"%>
<%= link_to 'Back', advisor_path() %>
<%     else%>
<%= link_to 'Back', student_path() %>
<%     end%>