<%= form_for(courselist) do |f| %>
  <% if courselist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(courselist.errors.count, "error") %> prohibited this courselist from being saved:</h2>

      <ul>
      <% courselist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :style=>"color : #000000" %><br>
    <%= f.text_field :name, :style=>"color : #000000" %>
  </div>
  <div class="field">
    <%= f.label :prereq, :style=>"color : #000000" %><br>
    <%= f.text_field :prereq, :style=>"color : #000000" %>
  </div>
  <div class="field">
    <%= f.label :description, :style=>"color : #000000" %><br>
    <%= f.text_field :description, :style=>"color : #000000" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
