<% @courselist = Courselist.new%>
<%= form_for(@courselist) do |f| %>
  <% if @courselist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@courselist.errors.count, "error") %> prohibited this courselist from being saved:</h2>

      <ul>
      <% @courselist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, {:class=>"form-control", :placeholder=>"Name"} %>
  </div>
  <div class="field">
    <%= f.text_field :prereq, {:class=>"form-control", :placeholder=>"Prereq"} %>
  </div>
  <div class="field">
    <%= f.text_field :description, {:class=>"form-control", :placeholder=>"Description"} %>
  </div>
  <div class="actions">
    <%= f.submit "Submit",:class=>"btn btn-default" %>
  </div>
<% end %>
