<% @currentuser = User.find_by_id(session[:user_id]) %>
<% @courses =  Course.all%>

<% if @currentuser.classification == "Student" %>
<h1>Major requirements progress for: <%= @currentuser.name%></h1>
<table class="table table-hover table-bordered">
  <thead style="background-color: #5e63ff">
    <tr>
      <th>Name</th>
      <th>Prereq</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @courselists.each do |courselist| %>
     <% @courses.each do |course|%>
      <%if course.studentid == @currentuser.id && courselist.name==course.name%>
         <tr style = "background-color: #51ff4f;">
           <td><%= courselist.name %></td>
           <td><%= courselist.prereq %></td>
           <td><%= courselist.description %></td>
         </tr>
      
         	
        <% end %>
      <% end %>
       <tr style = "background-color: #ff544f;">
           <td><%= courselist.name %></td>
           <td><%= courselist.prereq %></td>
           <td><%= courselist.description %></td>
         </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>
<% if @currentuser.classification == "Admin" %>
<h1>Manage course catalog</h1>
<table class="table table-hover table-bordered">
  <thead style="background-color: #5e63ff">
    <tr>
      <th>Name</th>
      <th>Prerequisites</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @courselists.each do |courselist| %>
         <tr style = "background-color: #51ff4f;">
           <td><%= courselist.name %></td>
           <td><%= courselist.prereq %></td>
           <td><%= courselist.description %></td>
         </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Courselist', new_courselist_path %>

<%end%>

