<% @currentuser = User.find_by_id(session[:user_id]) %>
<% @courses =  Course.all%>
<% @total = 0%>
<% @takencourse = 0%>
<% @flag = 0%>

<% if @currentuser.classification == "Student" %>
<h1 >Courses Catalog</h1>
<br>
<div style="border:solid; border-color: white; scroll; height:57%; overflow-x:hidden;background: rgba(255,255,255,0.1);">
	<table class="table table-bordered">
		<thead >
			<tr style="height:50px">
				<th>Name</th>
				<th>Prereq</th>
				<th>Hours</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @courselists.each do |courselist| %>
			<% @total = @total+1%>
			<% @courses.each do |course|%>
			<%if course.studentid == @currentuser.id && courselist.name==course.name%>
			<% @takencourse = @takencourse+1%>
			<% @flag = 1%>
			<tr  >
				<td><%= courselist.name %></td>
				<td><%= courselist.prereq %></td>
				<td><%= courselist.hours %></td>
				<td><%= courselist.description %></td>
			</tr>
			<% end %>
			<% end %>
			<%if @flag !=1 %>
			<tr  >
				<td><%= courselist.name %></td>
				<td><%= courselist.prereq %></td>
				<td><%= courselist.hours %></td>
				<td><%= courselist.description %></td>
			</tr>
			<%end%>
			<% @flag = 0%>
			<% end %>
		</tbody>
	</table>
</div>
<p class='lead'>
	You are <%= (@takencourse*100)/@total%>% complete with your degree!
</p>
<br>
<%end%>

<% if @currentuser.classification == "Admin" %>
<h1>Manage course catalog</h1>
<table class="table table-hover table-bordered">
	<thead style="background-color: #5e63ff">
		<tr>
			<th>Name</th>
			<th>Prerequisites</th>
			<th>Description</th>
		</tr>
	</thead>

	<tbody>
		<% @courselists.each do |courselist| %>
		<tr style = "background-color: #51ff4f;">
			<td><%= courselist.name %></td>
			<td><%= courselist.prereq %></td>
			<td><%= courselist.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Courselist', new_courselist_path %>

<%end%>

