<% @currentuser =  User.find_by_id(session[:user_id])%> <h1>Appointments</h1>

<div style="border:solid; border-color: white; scroll; height:57%; overflow-x:hidden;background: rgba(255,255,255,0.1);">
	<table  class="table table-bordered">

		<%	if @currentuser.classification == 'Admin'
		@appointments.each do |appointment| %>
		<%

 %>
		<tr>

			<td><%= appointment.appts %></td>
			<td><%= appointment.appte %></td>
			<td><%= (User.find_by_id(appointment.stuID)).name %></td>
			<td><%= appointment.approved %></td>
			<td><%= appointment.notes %></td>
			<td><%= link_to 'Show', appointment %></td>
			<td><%= link_to 'Approve', approveApt_path(appointment, :id => appointment.id), method: :get%></td>
			<td><%= link_to 'Deny', denyApt_path(appointment, :id => appointment.id), method: :get, data: { confirm: 'Are you sure?' }%></td>
			<td><%= link_to 'Delete', deleteApt_path(appointment, :id => appointment.id),method: :get, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<%end%>
		<% elsif @currentuser.classification == 'Student' %>
		<%
			if @currentuser.message != 'scheduled'
		%>


		<h1>Available times  for <%= @currentuser.name%></h1>
		<% (Appointment.all).each do |appointment| %>
		<% if (appointment.advID == User.find_by_name(@currentuser.advisor).id) %>
		<tr>
			<td><%= appointment.start %></td>
			<td><%= appointment.end %></td>
			<td><%= appointment.flag %></td>
			<td><%= appointment.notes %></td>
			<td><%= button_to 'Schedule Appointment', :action => :schdappt, :id => appointment.id, method: :schdappt, :class => 'btn btn-outline-inverse btn-block' %></td>
		</tr>
		<%end end else
			@appointment = Appointment.find_by_stuID(@currentuser.id)
		%>
			<table>
				<%= button_to 'Cancel Appointment', :action => :cancappt,:id => @currentuser.id, method: :cancappt, :class => 'btn btn-outline-inverse btn-block' %>
			</tbody>
			<tr>
			<td><%= @appointment.start %></td>
			<td><%= @appointment.end %></td>
			<td><%= @appointment.flag %></td>
			<td><%= @appointment.notes %></td>
			</tr>
			</tbody>
			</table>
		<%end%>
		
		<%elsif @currentuser.classification == 'Advisor'%>
		<%

 %>

		<tr>
			<th>Start</th>
			<th>End</th>
			<th>Reserved by</th>
			<th>Availability</th>
			<th>Deletes</th>
		</tr>

		<% (Appointment.all).each do |appointment| %>
		<% if (appointment.advID == @currentuser.id) %>
		<tr>
			<td><%= (appointment.start).to_datetime.to_formatted_s(:long) %></td>
			<td><%= (appointment.end).to_datetime.to_formatted_s(:long) %></td>
			<%if !User.find_by_id(appointment.stuID).nil? && !User.find_by_id(appointment.stuID).new_record?%>
				<td><%= User.find_by_id(appointment.stuID).name%></td>
			<%else%>
				<td></td>
			<% end%>
			<td><%= appointment.flag %></td>
			<td><%= link_to 'Delete Block', appointment, :class => 'btn btn-outline-inverse btn-block',method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<%end%>
		<% end%>

		<% if notice %>
		<p id='notice'>
			<%= notice %>
		</p>
		<% end %>

		<% end %>

		</tbody>
	</table>

	<br>

	<%if(@currentuser.classification == 'Advisor' || @currentuser.classification == 'Admin')%>
	<%end%>

	</tbody>
	</table>
</div>
<br />
<p>
	<a href="#modal-form" class="btn btn-outline-inverse btn-block"data-toggle="modal">Appointment Set-Up</a>
</p>
<%= render 'newapptmodal' %>
<script type="text/javascript">
	$(function() {
		$('#startDate').datetimepicker({
			dateFormat : "dd-M-yy HH:mm",
			minuteStepping : 15,
			useHours : true,
			useMinutes : true,
			useSeconds : false,
			showtoday : true,
			sideBySide : false
		});

	});

	$("#apptUpdate").submit(function(event) {
		/* stop form from submitting normally */
		event.preventDefault();
		/* clear result div */
		/* get values from elements on the page: */
		//var values=loop();
		var starttime = $('#startDate').val();
		var e = document.getElementById("weeks");
		var weeks = e.options[e.selectedIndex].value;

		/* Send the data using post and put the results in a div */
		$.ajax({
			url : "/createappt",
			type : "post",
			data : {
				param1 : starttime,
				param2 : weeks
			},
			success : function(data, textStatus, xhr) {
				alert("Appointment created!");
				history.go(0);
			},
			error : function() {
				alert("Something went wrong...");
			}
		});
	}); 
</script>
