<% @currentuser =  User.find_by_id(session[:user_id])%>
<table>
	<tbody>

		<%	if @currentuser.classification == 'Admin'
		@appointments.each do |appointment| %>
		<%
	
		%>
		<tr>

			<td><%= appointment.appts %></td>
			<td><%= appointment.appte %></td>
			<td><%= (User.find_by_id(appointment.stuID)).name %></td>
			<td><%= appointment.approved %></td>
			<td><%= appointment.notes %></td>
			<td><%= link_to 'Show', appointment %></td>
			<td><%= link_to 'Approve', approveApt_path(appointment, :id => appointment.id), method: :get%></td>
			<td><%= link_to 'Deny', denyApt_path(appointment, :id => appointment.id), method: :get, data: { confirm: 'Are you sure?' }%></td>
			<td><%= link_to 'Delete', deleteApt_path(appointment, :id => appointment.id),method: :get, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<%end%>
		<% elsif @currentuser.classification == 'Student' %>
		<%

		%>

		<h1>Available times  for <%= @currentuser.name%></h1>
		<% (Appointment.all).each do |appointment| %>
		<% if (appointment.advID == User.find_by_name(@currentuser.advisor).id) %>
		<tr>
			<td><%= appointment.start %></td>
			<td><%= appointment.end %></td>
			<td><%= appointment.flag %></td>
			<td><%= appointment.notes %></td>
		</tr>
		<%end end%>
		<%= button_to 'Schedule Appointment', new_appointment_path, :class => 'btn btn-outline-inverse btn-block' %>
		<%elsif @currentuser.classification == 'Advisor'%>
		<%
  
  
  
  
		%>
		<h1>Create a New Appointment Block</h1>
		<%= form_tag("/createappt", :method => "post", :id => "apptUpdate") do %>
		<table>
			<tbody>
				<tr>
					<td>
					<div class="container">
						<div class="row">
							<div class='col-sm-6'>
								<input type='text' class="form-control" id='startDate'/>
								<%= select_tag :weeks,  options_for_select([['For one week',1],['For two weeks',2],['For three weeks',3],['For four weeks',4],['For five weeks',5],['For six weeks',6],['For seven weeks',7],['For eight weeks',8],['For nine weeks',9],['For ten weeks',10],['For eleven weeks',11],['For twelve weeks',12],['For thirteen weeks',13], ['For fourteen weeks',14],['For fifteen weeks',15]]), :class => "form-control" %>

							</div>
						</div>
					</td>
					<td> </div> </td>
				</tr>

			</tbody>
		</table>
		<table>
			<tbody>
				<h1>Advising Blocks set by <%= @currentuser.name%></h1>
				<% (Appointment.all).each do |appointment| %>
				<% if (appointment.advID == @currentuser.id) %>
				<tr>
					<td><%= appointment.start %></td>
					<td><%= appointment.end %></td>
					<td><%= appointment.flag %></td>
					<td><%= appointment.notes %></td>
				</tr>
				<%end end%>
			</tbody>
		</table>
		<% if notice %>
		<p id='notice'>
			<%= notice %>
		</p>
		<% end %>
		<div>
			<%= submit_tag 'Create Appointment Timeblock', :class => "btn btn-outline-inverse btn-block", :action => 'createAppt' %>
		</div>

		<% end %>
		<%end%>

	</tbody>
</table>

<br>

<%if(@currentuser.classification == 'Advisor' || @currentuser.classification == 'Admin')%>
<%end%>

</tbody>
</table>
<script type="text/javascript">
	$(function() {
		$('#startDate').datetimepicker({
			dateFormat : "dd-M-yy HH:mm",
			minuteStepping : 15,
			useHours : true,
			useMinutes : true,
			useSeconds : false,
			showtoday : true,
			sideBySide : true
		});

	});

	$("#apptUpdate").submit(function(event) {
		/* stop form from submitting normally */
		event.preventDefault();
		/* clear result div */
		/* get values from elements on the page: */
		//var values=loop();
		var starttime = $('#startDate').val();
		var e = document.getElementById("weeks");
		var weeks = e.options[e.selectedIndex].value;

		/* Send the data using post and put the results in a div */
		$.ajax({
			url : "/createappt",
			type : "post",
			data : {
				param1 : starttime,
				param2 : weeks
			},
			success : function(data, textStatus, xhr) {
				alert("Appointment created!");
				history.go(0);
			},
			error : function() {
				alert("Something went wrong...");
			}
		});
	}); 
</script>
