<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appts</th>
      <th>Appte</th>
      <th>Advid</th>
      <th>Stuid</th>
      <th>Approved</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.appts %></td>
        <td><%= appointment.appte %></td>
        <td><%= appointment.advID %></td>
        <td><%= appointment.stuID %></td>
        <td><%= appointment.approved %></td>
        <td><%= appointment.notes %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
