<p id="notice"><%= notice %></p>

<p>
  <strong>Appts:</strong>
  <%= @appointment.appts %>
</p>

<p>
  <strong>Appte:</strong>
  <%= @appointment.appte %>
</p>

<p>
  <strong>Advid:</strong>
  <%= @appointment.advID %>
</p>

<p>
  <strong>Stuid:</strong>
  <%= @appointment.stuID %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @appointment.approved %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @appointment.notes %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
