<h1>ADVISOR TEST PAGE</h1>
<% @user = User.find_by_id(session[:user_id]) %>

<h1>Welcome <%= @user.name%></h1>
<<<<<<< HEAD
<div class='item'>
	<%= button_to 'Manage Users', users_path(), method: :get %>
=======
<div class="item">
	<%= button_to "Manage Users", users_path(), method: :get %>
>>>>>>> chris
</div>
<p>
	<%= button_to 'Logout', logout_path, method: :delete %>

</p>

<<<<<<< HEAD
<div class='item'>
	<%= image_tag('cat5.jpg', :size => '500x500') %>
=======
<div class="item">
	<%= image_tag("cat5.jpg", :size => "500x500") %>
>>>>>>> chris
</div>
