<h1>ADVISOR TEST PAGE</h1>
<% @user = User.find_by_id(session[:user_id]) %>

<h1>Welcome <%= @user.name%></h1>
<div class='item'>
	<%= button_to 'Manage Users', users_path(), method: :get %>
</div>
<div class='item'>
	<%= button_to 'View Appointments', :controller => users, :action => :viewAppts %>
</div>
<div class='item'>
	<%= button_to 'View Messages', :controller => users, :action => :viewMsgs %>
</div>
<p>
	<%= button_to 'Logout', logout_path, method: :delete %>

</p>

<div class='item'>
	<%= image_tag('cat5.jpg', :size => '500x500') %>
</div>
